{%extends 'base.html'%}
{%block title%}upload{%endblock%}
{% block body %}
	<section>
		<h2 class="header_2">Sube tu Template Personalizado!</h2>
		<div class="custom-file-upload container">
			<form action="#" method="post" enctype="multipart/form-data">
				<input class="file-container" type="file" id="file" class="file" name="file">
				<label class="file-label" for="file">
					<div id="fileName">
						<img id="fileImage" src="{{url_for('static', filename='img/file.svg')}}" alt="">
						<span>selecciona un archivo</span>
					</div>
				</label>
				<div class="submit">
					<input class="main-btn" type="submit" value="Subir">
				</div>
			</form>
		</div>
	</section>
	 <script>
        let input = document.getElementById("file");
        let fileName = document.getElementById("fileName")
        let image = document.querySelector("#fileImage")

        input.addEventListener("change", ()=>{
            let inputImage = document.querySelector("input[type=file]").files[0];
            image.src = "{{url_for('static', filename='img/txt.svg')}}"

            fileName.innerText = inputImage.name;

        })
    </script>
{%endblock%}