<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" style="  box-sizing: border-box;
  font-size: 62.5%">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;900&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<!-- font-family: 'Alegreya Sans', sans-serif;
font-family: 'Space Mono', monospace; -->
<!-- /*<p style="background-color: red"> Texto en rojo </p>*/ -->
<body style="
/*border: 1px solid red;*/
max-width: 600px;
width: 90%;
margin: 0 auto;
background-color: #F7F7F7;
">
	<section style="
		/*max-width: 1100px;
		width: 90%;
		margin: 0 auto;*/
		border-bottom:1px solid #319bd1; 
	">
		<div style="
			/*width: 70%;
			height: 200px;
			margin: 0 auto;*/
		">
			<div style="text-align: center;">
				<img  style=" width: 15rem; height: 11rem; margin-right: 27px" src="https://www.kindpng.com/picc/m/127-1272251_website-development-software-development-image-png-transparent-png.png" alt="">
			</div>
			<div>
				<h2 style="
					font-family: 'Alegreya Sans',sans-serif;
					font-size: 2rem;
					text-align: center;
					/*margin-top:70px;*/
					/*color:#319bd1;*/
				"><span style="
					background-color: #319bd1;
					color:#FFF;
					padding: 3px 7px; 
					border-radius: 4px;
				">Questum</span> Solutions</h2>
			</div>
		</div>
	</section>
	<div style="margin: 2rem"></div>
	
	<section style="
	max-width: 550px;
	width: 90%;
	margin: 0 auto;
	">
		<div>
			<p style="
				text-transform: uppercase;
				/*background-color: #319bd1;*/
				display: inline-block;
				color:#319bd1;
				font-size: 1.7rem;
				font-family: 'Alegreya Sans',sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				border-radius: 3px;

			">Hallo!</p>

			<h2 style="
				font-family: sans-serif;
				font-size: 1.1rem;
				font-weight: 700;
				line-height: 20px;
				letter-spacing: 1px;
			">Felicidades...Nuestra Compañía está muy emocionada de que tu <span style="text-decoration:underline;text-decoration-color:#319bd1;">marca</span> haya sido seleccionada.</h2>

			<p style="font-family: sans-serif; font-size: 1.1rem; line-height: 25px;">Fuiste seleccionado para la creación a medida de un <span style="text-decoration:underline;text-decoration-color:#319bd1;">sitio web</span>  para llegar a tus clientes de manera más fácil y rápida desde cualquier lugar de tu ciudad, disfruta este <span style="color:#319bd1">60% de descuento</span> para llegar a esos canales digitales que son importantes hoy en día para impulsar tus ventas.</p>

			<p style="font-style: oblique;text-align: center; font-weight: 700; font-family: sans-serif; font-size: 1.2rem; ">Este oferton es por tiempo limitado... Haz la diferencia ;)</p>
			<p style="font-family: monospace; font-size: .8rem; text-align: center">si te interesa escríbenos respondiendo este mensaje</p>
		</div>

		<!-- {{mensaje}} -->

		
	</section>
</body>
</html>